.root {
  width: 100%;
  height: 320px;
  padding: 16px 24px;
  box-sizing: border-box;
}

.chartArea {
  position: relative;
  height: calc(100% - 24px);
  margin-top: 12px;
}

.yAxis {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 24px;
  width: 32px;
}

.bars {
  position: absolute;
  left: 48px;
  right: 0;
  bottom: 24px;
  top: 0;
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.bar {
  height: 100%;
  display: flex;
  align-items: flex-end;
  border-radius: 4px;
  overflow: hidden;
}

.xAxis {
  position: absolute;
  left: 48px;
  right: 0;
  bottom: 0;
}
