.root {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 16px;
}

.label {
  display: grid;
  gap: 6px;
}

.selectDate {
  min-width: 160px;
}

.selectAsset {
  min-width: 200px;
}
